{% extends 'base.html' %} {% block container %}
<h2>About</h2>

<p>
    The idea for AnimalMash was inspired by the original website called Facemash, which was a project created by Mark Zuckerberg during his time at Harvard University. Facemash was a simple website that allowed users to compare and rate the attractiveness of two photos of fellow Harvard students side by side.
</br></br>Facemash was launched by Zuckerberg in October 2003 as a "hot or not" type of website, where users could vote on the attractiveness of two photos of students and decide which one was more attractive. The photos were randomly selected from the student directory at Harvard, and users could vote by clicking on the photo they found more attractive.
</br></br>Facemash quickly gained popularity among the Harvard student community, but it also stirred controversy and was shut down within a few days by the university administration. Despite its short-lived existence, Facemash paved the way for the development of Facebook, which was launched by Zuckerberg in February 2004 as a social networking platform for Harvard students, and later expanded to other universities and eventually to the general public.
</br></br>AnimalMash draws inspiration from the concept of Facemash, but with a twist. Instead of comparing and rating the attractiveness of human faces, AnimalMash focuses on comparing and voting on the cuteness of animal photos. AnimalMash allows users to view and vote on random pairs of animal photos, deciding which animal they find cuter. The website provides an interactive and fun way for animal lovers to engage and share their opinions on the cuteness of various animals.
</br></br>You can read more about Facemash <a href="https://www.thecrimson.com/article/2003/11/19/facemash-creator-survives-ad-board-the/" target="_blank">here</a>.
</p>


{% endblock %}
