{% extends 'base.html' %} {% block container %}
<h2>Admin page</h2>
<p>Click on an animal to delete it from our database</p>


{% set animals = get_all() %}
{% for doc in animals %}
        {% if doc.links %}
            <div class="image">
                <p>{{ doc.name }}</p>
                <a href="{{ url_for('delete_animal', mongoid=doc._id) }}">
                <img src="{{ doc.links }}" alt="Random image of animal">
                </a>
                
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}